.grid-container {
  display: grid;
  gap: 1vw;
  width: 100vw;
  background-color: #ffd684;
  padding: 1vw;
}

.Small-Icon
{
  border-radius: 4px;
  padding: 5px;
  width: 50px;
}

.grid-item {
  background-color: #aa7100e7;
  text-align: center;
  padding: 20px;
}

.item1 {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.item3 {
  grid-column: 2 / span 2;
  grid-row: 2;
}

.item5 {
  grid-column: 1 / span 4;
  grid-row: 3;
}
.list-item
{
	display: grid;
  padding: 0px;
  text-align: left;
}
.img
{
  width: 5vw;
  height: 5vw;
}
.Round-Img
{
  border-radius: 100%;
}
.Skill-text
{
  font-size: 2vw;
  margin-left:30%;
  margin-top: auto;
  margin-bottom: auto;
}
.List-text
{
  font-size: 200%;
  margin-top:auto; margin-bottom:auto;
}
